<div class="row">

	<%= render partial: 'partials/errors', locals: { model: @myInfo } %>
	
	<%= form_for @myInfo, url: path, method: :put do |f| %>

		<div class="form-group">

			<%= f.label :name %>
			<%= f.text_field :name, { class:'form-control name', readonly: 'readonly', value: name } %>

		</div>

		<div class="form-group">

			<%= f.label :content %>
			<%= f.text_area :content, { class: 'form-control', 
				rows: '10', placeholder: 'Enter text' } %>

		</div>

		<%= f.submit Constants::INFO_FORM_BUTTON, class: "btn btn-large btn-primary" %>

	<% end %>
</div>