<div class="row">

	<%= render partial: 'partials/errors', locals: { model: @post } %>

	<%= form_for @post, url: path, method: method do |f| %>

		<div class="form-group">

			<%= f.label :title %>
			<%= f.text_field :title, { class:'form-control',
				placeholder: 'Enter title' } %>

		</div>

		<div class="form-group">

			<%= f.label :body %>
			<%= f.text_area :body, { class: 'form-control',  
				rows: '20', placeholder: 'Enter body' } %>

		</div>

		<%= f.submit Constants::POST_FORM_BUTTON, class: "btn btn-large btn-primary" %>

	<% end %>

</div>