<div class="blog-header">
	<h1 class="blog-title"><%= Constants::BLOG_TITLE %></h1>
    <p class="lead blog-description"><%= Constants::BLOG_DESCRIPTION %></p>
</div>

<div class="blog-main">
	<% @posts.each do |post|  %>
	<!-- /.blog-post -->	
	<div class="blog-post">

		<h2 class="blog-post-title"><%= post.title %></h2>

		<p class="blog-post-meta"><%= post.created_at.strftime("%d %B %Y") %></p>

		<%= simple_format(post.body).html_safe %>

		<div class="page-footer">
			<%= button_to Constants::EDIT_BLOG_BUTTON, edit_post_path(post), method: :get, class: "btn btn-large btn-primary" %>
			<%= button_to Constants::DELETE_BLOG_BUTTON, post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-large btn-danger" %>
		</div>
	</div>

	<% end %>
</div>